html,
body {
    width: 100%;
}
.pinpai{
    display: flex;
    flex-direction: column;
    margin-top: 66px;
    font-size: 18px;
    .list{
        display: flex;
        line-height: 2em;
        .left{
            flex: 7;
            padding-left: 10px;
            .special{
                font-size: 25px;
                font-weight: bold;
                padding-top: 13px;
            }  
        }
        .right{
            flex: 1;  
            padding-top: 20px;
        }
    }
    .list.color{
        background: #ededed;
    }
    
}
