html,
body {
  width: 100%;
}
.pinpai {
  display: flex;
  flex-direction: column;
  margin-top: 66px;
  font-size: 18px;
}
.pinpai .list {
  display: flex;
  line-height: 2em;
}
.pinpai .list .left {
  flex: 7;
  padding-left: 10px;
}
.pinpai .list .left .special {
  font-size: 25px;
  font-weight: bold;
  padding-top: 13px;
}
.pinpai .list .right {
  flex: 1;
  padding-top: 20px;
}
.pinpai .list.color {
  background: #ededed;
}
